body{
    font-family: Arial;
    background:#0c2f57;
    text-align:center;
    color:white;
}

.contenedor{
    margin-top:100px;
}

button{
    background:#e67e22;
    color:white;
    border:none;
    padding:15px 30px;
    margin:20px;
    cursor:pointer;
    font-size:18px;
}

form{
    margin-top:20px;
}

input{
    display:block;
    margin:15px auto;
    padding:12px;
    width:250px;
    border:none;
    border-radius:5px;
}