<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ejercicio 2</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="contenedor">
      <h1>Login Usuario</h1>

      <form method="POST">
        <input type="text" name="usuario" placeholder="Usuario" required />

        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <button type="submit">Ingresar</button>
      </form>
        {% if mensaje %}
        <h2>{{ mensaje }}</h2>
        {% endif %}
      <br/>

      <a href="/">
        <button>Volver</button>
      </a>
    </div>
  </body>
</html>
