<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Compra Pinturas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="contenedor">

    <h1>🎨 Compra de Pinturas</h1>

    <form method="POST">

        <input
            type="text"
            name="nombre"
            placeholder="Ingrese nombre"
            required
            pattern="[A-Za-záéíóúÁÉÍÓÚñÑ ]+"
            oninvalid="this.setCustomValidity('Solo se permiten letras')"
            oninput="this.setCustomValidity('')"
        >

        <input
            type="number"
            name="edad"
            placeholder="Ingrese edad"
            min="1"
            max="120"
            step="1"
            required
            oninvalid="this.setCustomValidity('Ingrese una edad válida')"
            oninput="this.setCustomValidity('')"
        >

        <input
            type="number"
            name="tarros"
            placeholder="Cantidad tarros"
            min="1"
            step="1"
            required
            oninvalid="this.setCustomValidity('Ingrese mínimo 1 tarro')"
            oninput="this.setCustomValidity('')"
        >

        <button type="submit">Calcular Compra</button>

    </form>

    {% if resultado %}
    <div class="resultado">

        <h2>👤 Cliente: {{ resultado.nombre }}</h2>

        <h2>Total sin descuento: ${{ resultado.total }}</h2>

        <h2>Descuento aplicado: {{ resultado.descuento }}%</h2>

        <h2 class="ok">
            Total a pagar: ${{ resultado.final }}
        </h2>

    </div>
    {% endif %}

    <a class="volver" href="/">⬅ Volver al menú</a>

</div>

</body>
</html>