<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ejercicio 1</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="contenedor">
      <h1>📘 Promedio de Notas</h1>

      <form method="POST">
        <input
          type="number"
          name="nota1"
          placeholder="Nota 1 (10 a 70)"
          min="10"
          max="70"
          step="1"
          required
          oninvalid="this.setCustomValidity('Ingrese una nota entre 10 y 70')"
          oninput="this.setCustomValidity('')"
        />

        <input
          type="number"
          name="nota2"
          placeholder="Nota 2 (10 a 70)"
          min="10"
          max="70"
          step="1"
          required
          oninvalid="this.setCustomValidity('Ingrese una nota entre 10 y 70')"
          oninput="this.setCustomValidity('')"
        />

        <input
          type="number"
          name="nota3"
          placeholder="Nota 3 (10 a 70)"
          min="10"
          max="70"
          step="1"
          required
          oninvalid="this.setCustomValidity('Ingrese una nota entre 10 y 70')"
          oninput="this.setCustomValidity('')"
        />

        <input
          type="number"
          name="asistencia"
          placeholder="Asistencia %"
          min="0"
          max="100"
          step="1"
          required
          oninvalid="this.setCustomValidity('Ingrese una asistencia entre 0 y 100')"
          oninput="this.setCustomValidity('')"
        />

        <button type="submit">Calcular</button>
      </form>

      {% if error %}
      <div class="error">
        {{ error }}
      </div>

      {% endif %} {% if resultado %}
      <div class="resultado">
        <h2>Promedio: {{ resultado.promedio }}</h2>

        <h2
          class="{% if resultado.estado == 'APROBADO' %}aprobado{% else %}reprobado{% endif %}"
        >
          {{ resultado.estado }}
        </h2>
      </div>
      {% endif %}

      <a class="volver" href="/">Volver al inicio</a>
    </div>
  </body>
</html>
